In [166]:
import pandas as pd
import numpy as np

In [167]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [168]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [169]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [170]:
movie_merge = movies.merge(credits,on = 'title')

In [171]:
movie_merge.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [172]:
moviess = movie_merge[['movie_id','overview','genres','title','cast','crew','keywords']]

In [173]:
moviess.columns

Index(['movie_id', 'overview', 'genres', 'title', 'cast', 'crew', 'keywords'], dtype='object')

In [174]:
moviess.dropna(inplace = True)

c:\users\dheeraj chouhan\appdata\local\programs\python\python39\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [175]:
moviess.loc[0,'genres']
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"},
#{"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

# we use ast.literal_eval to convert this sting to list

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [178]:
def convert(obj):
    List= []
    for i in ast.literal_eval(obj):
        List.append(i['name'])        
    return List

import ast
#ast.literal_eval()

In [180]:
moviess.genres  = moviess.genres.apply(convert)# we apply convert function on it

c:\users\dheeraj chouhan\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [182]:
#moviess.genres

In [189]:
#moviess.keywords we apply convert function on keywords

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4803    [united states–mexico barrier, legs, arms, pap...
4804                                                   []
4805    [date, love at first sight, narration, investi...
4806                                                   []
4807            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4805, dtype: object

In [190]:
#moviess.cast[0]
def convert3(obj):
    counter = 0
    List= []
    for i in ast.literal_eval(obj):
        if counter != 3:
            List.append(i['name'])  
            counter +=1
        else:
            break
    return List

In [192]:
moviess.cast = moviess.cast.apply(convert3) # we apply convert3 function on cast moviess.cast.apply(convert3)

In [193]:
def fetch_Director(obj):
    List= []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            List.append(i['name'])  
            break
    return List

In [194]:
moviess.crew = moviess.crew.apply(fetch_Director)

In [162]:
moviess.overview.apply(lambda x : x.split())

0           [JamesCameron]
1          [GoreVerbinski]
2              [SamMendes]
3       [ChristopherNolan]
4          [AndrewStanton]
               ...
4803     [RobertRodriguez]
4804         [EdwardBurns]
4805          [ScottSmith]
4806          [DanielHsia]
4807     [BrianHerzlinger]
Name: crew, Length: 4805, dtype: object

In [197]:
#moviess.head(1)
moviess.genres = moviess.genres.apply(lambda x:[i.replace(' ','') for i in x])
moviess.keywords = moviess.keywords.apply(lambda x:[i.replace(' ','') for i in x])
moviess.crew = moviess.crew.apply(lambda x:[i.replace(' ','') for i in x])
moviess.cast = moviess.cast.apply(lambda x:[i.replace(' ','') for i in x])

c:\users\dheeraj chouhan\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [206]:
#moviess['tags'] = moviess["keywords"] + moviess["overview"] + moviess["cast"] + moviess['crew'] + moviess['genres']
#moviess['tags'] = moviess['overview'] + moviess['keywords'] + moviess['cast'] + moviess['crew'] + moviess['genres']
moviess.overview = moviess.overview.apply(lambda x: x.split())

c:\users\dheeraj chouhan\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [208]:
moviess['tags'] = moviess['overview'] + moviess['keywords'] + moviess['cast'] + moviess['crew'] + moviess['genres']

C:\Users\DHEERA~1\AppData\Local\Temp/ipykernel_24004/1529514135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviess['tags'] = moviess['overview'] + moviess['keywords'] + moviess['cast'] + moviess['crew'] + moviess['genres']

In [210]:
new_dmf = moviess[['movie_id','title','tags']]

In [212]:
new_dmf.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [213]:
new_dmf['tags'] = new_dmf['tags'].apply(lambda x:' '.join(x))

C:\Users\DHEERA~1\AppData\Local\Temp/ipykernel_24004/2980810511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dmf['tags'] = new_dmf['tags'].apply(lambda x:' '.join(x))

In [216]:
new_dmf['tags'] = new_dmf['tags'].apply(lambda x:x.lower())

C:\Users\DHEERA~1\AppData\Local\Temp/ipykernel_24004/4263214293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dmf['tags'] = new_dmf['tags'].apply(lambda x:x.lower())

In [225]:
new_dmf['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron action adventure fantasy sciencefiction'

In [226]:
import nltk

In [230]:
from nltk.stem.porter import PorterStemmer

In [232]:
Ps = PorterStemmer()

In [233]:
def stem(text):
    l = []
    for i in text.split():
        l.append(Ps.stem(i))
    return ' '.join(l)

In [234]:
new_dmf['tags'] = new_dmf['tags'].apply(stem)

C:\Users\DHEERA~1\AppData\Local\Temp/ipykernel_24004/821866892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dmf['tags'] = new_dmf['tags'].apply(stem)

In [236]:
new_dmf.tags[0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron action adventur fantasi sciencefict'

In [237]:
from sklearn.feature_extraction.text import CountVectorizer

In [238]:
cv = CountVectorizer(max_features = 5000,stop_words = 'english')

In [239]:
vectors = cv.fit_transform(new_dmf['tags']).toarray()

In [242]:
len(cv.get_feature_names())

5000

In [243]:
from sklearn.metrics.pairwise import cosine_similarity

In [246]:
similarity = cosine_similarity(vectors)

In [248]:
sorted(list(enumerate(similarity[0])),reverse = True,key = lambda x:x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.2503866978335957)]

In [249]:
def recommend(movie):
    movie_index = new_dmf[new_dmf['title'] == movie].index[0]
    distances = similarity
    movie_list = sorted(list(enumerate(distances[0])),reverse = True,key = lambda x:x[1])[1:6]
    for i in movie_list:
        print(i[0])

In [251]:
recommend('Avatar')

1216
2409
3730
507
539